.node-wrapper {
  display: block;

  .MindmapNode {
    display: block;
    border: 2px solid;
    border-radius: 10px;
    height: inherit;
    background-color: wheat;

    .new-node-button {
      background-color: #555;
      color: white;
      visibility: hidden;
      border-style: solid;
      border-radius: 100%;
      position: fixed; /* Button is placed inside node */
      right: 2px;
      margin: 4px;
      font-size: 12pt;
      transition: all 0.15s ease-in;
      &:hover {
        transform: scale(1.2);
      }
    }

    &:hover {
      box-shadow: -2px 0 grey, 0 2px grey, 2px 0 grey, 0 -2px grey;
      button {
        visibility: visible;
      }
    }

    .text-content {
      //display: inline-block;
    }
  }
}
