.node-wrapper {
  display: block;

  .MindmapNode {
    display: block;
    border-radius: 10px;
    height: inherit;
    background-color: white;

    .new-node-button {
      background-color: #555;
      color: white;
      visibility: hidden;
      border-style: solid;
      border-radius: 100%;
      position: fixed; /* Button is placed inside node */
      right: 2px;
      margin: 4px;
      font-size: 12pt;
      transition: all 0.15s ease-in;
      &:hover {
        transform: scale(1.2);
      }
    }

    .adjust-width-button {
      background-color: rgb(125, 123, 255);
      color: white;
      border-style: none;
      border-radius: 100%;
      position: fixed; /* Button is placed inside node */
      right: -10px;
      top: 100%;
      transform: translate(0%, 150%);
      padding: 4px;
      font-size: 10pt;
      transition: all 0.15s ease-in;
    }

    &:hover {
      box-shadow: 0 0 2px 2px rgb(125, 123, 255);
      button {
        visibility: visible;
      }
    }

    button:focus {
      outline: 0px solid transparent;
    }

    .text-content {
      //display: inline-block;
    }
  }
}

.NodeNotSelected {
  border: 3px solid;
  button {
    visibility: hidden;
  }
}

.NodeSelected {
  border: 3px solid rgb(125, 123, 255);
  button {
    visibility: visible;
  }
}

[contenteditable] {
  outline: 0px solid transparent;
}
