.node-wrapper {
  display: block;

  .MindmapNode {
    display: block;
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    height: inherit;
    background-color: wheat;

    .new-node-button {
      width: 20px;
      height: 20px;
      background-color: red;
    }

    .text-content {
      //display: inline-block;
    }
  }
}
