.MindmapNode {
    text-align: center;
    border-width: 3px;
    border: solid;
    border-radius: 20px;
    padding: 0 20px;
    background-color: white;

    button {
        background-color: #333;
        color: white;
        visibility: hidden;
        border-style: solid;
        border-radius: 100%;
        position: fixed; /* Button is placed inside node */
        margin: 4px;
        font-size: 12pt;
        transition: all .15s ease-in;
        right: 5px;
        &:hover {
            transform: scale(1.2);
        }
    }

    &:hover {

        button {
            visibility: visible;

        }

    }
    
}

.NodeIsSelected {
    box-shadow: 0 0 10px blue;
}