.App {
  text-align: center;
/*   height: 100%; */
}

.mindMapNode {
  border-width: 3px;
  border: solid;
  border-radius: 20px;
}
.mindMapNode:hover {
  box-shadow: -2px 0 grey, 0 2px grey, 2px 0 grey, 0 -2px grey;
}

.selectedNode {
  color: red;
}

foreignObject { 
  /* Allow border to wrap around content when content grows */
  overflow: visible; 
}
